    </body>
    <footer class="footer mt-auto py-3 bg-secondary">
        <div class="container d-flex justify-content-center">
            <span class="text-light ">&copy;Manvinderjit 2023</span>
        </div>
    </footer>
</html>